{% extends 'base.html' %} 

{% block title %} Home {% endblock title %} 

{% block content %} 
    <br/>
    <div class="jumbotron" >
        <h1 class="display-4"> Welcome </h1>
        <p class="lead">
            A blog all about sharing happiness and tackling real life issues
        </p>
        <p class="lead">   
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">View All Posts</a>
        </p>
    </div>
    <div>
        
    </div>
{% endblock content %} 